{%- macro infobox()  -%} 
	{{- "{{infobox football biography" -}}
	{{- '\n' -}}
       {{ '|name	       ={}'.format(tname)  }}
       {{- '\n' -}}
{% if img!='1' %}
       {{ '|image 	={}'.format(img)}}
{% endif %}
       {{-'\n'-}}
       {{ '|fullname	       ={}'.format(tname)  }}
       {{- '\n' -}}
        {{'|birth_date	   ={}'.format(dob1)}}
        {{- '\n' -}}
        {{'|height 	       	   = {}'.format(height)}}
        {{- '\n' -}}
       {{ '|position  		   ={}'.format(position1)}}
       {{- '\n' -}}

  {{- 'As of may fifa 2021 index |}}' -}}
	{{- '\n' }}
{%- endmacro -%} 

{%- macro intro(name,tname,dob1,age,nation,positions,preferred_foot,work_rate,kit_no) -%}
{{tname}} ({{name}}) (జననం {{dob1}}) {{"[["}}{{nation}}{{"]]"}} దేశానికి చెందిన క్రీడాకారిణి. ఈమె {{nation}} అంతర్జాతీయ [[ ఫుట్‌బాల్]] జట్టుకు ఆడుతుంటుంది. {{tname}} {{positions}} స్థానాలలో కూడా ఆడుతుంటుంది. ఆటలో ఈమె తన {{preferred_foot}} కాలిని ఎక్కువగా ఉపయోగిస్తుంది. ఈమె కిట్ సంఖ్య {{kit_no}}.
{%- endmacro -%}

{%- macro personal_life(name,birth_place,dob) -%}
==వ్యక్తిగత జీవితం==
{%- set title_line=[
                  name+ " [["+birth_place+  "]] లో  "+dob+ " న జన్మించింది.",
                 name+' '+ dob + ' న [['+birth_place+"]] లో జన్మించింది."
                ] | random
  %}
{{title_line}}
{%- endmacro -%}

{%- macro ballskills(name,ball_control,dribbling) -%}
==రేటింగ్స్==
===బాల్ స్కిల్స్===
బాల్ స్కిల్స్ రేటింగ్ అనేది క్రీడాకారిణి బంతి నియంత్రణ చేస్తున్న విధానాన్ని తెలుపుతుంది. {{name}}కి {{"<ref >https://www.fifaindex.com/team/113009/united-states/fifa21/</ref>"}} బంతి నియంత్రణలో, డ్రిబ్లింగ్‌లో {{ball_control}}, {{dribbling}} రేటింగులు ఉన్నాయి.
{%- endmacro -%}

{%- macro defence(marking,slide_tackle,stand_tackle) -%}
===డిఫెన్స్===
డిఫెన్స్ రేటింగ్ అనేది ప్రత్యర్థిని ఎలా ఎదురుకుంటుందో  తెలుపుతుంది. దీనిలో ఈమెకి మార్కింగ్ లో {{marking}}, స్లయిడ్ ట్యాకిల్ లో {{slide_tackle}}, స్టాండ్ ట్యాకిల్ లో {{stand_tackle}} రేటింగ్స్ ఉన్నాయి.
{%- endmacro -%}

{%- macro mentalstate(name,aggression,reactions,interception,vision,composure) -%}
===మెంటల్ స్టేట్===
ఈ రేటింగ్ {{name}} మానసిక స్థితి  గురించి తెలుపుతుంది. అగ్రెషన్ {{aggression}}, రియాక్షన్స్ {{reactions}}, ఇంట్రసెప్షన్ {{interception}}, విషన్ {{vision}}, కంపోషర్ {{composure}} రేటింగ్స్ ఉన్నాయి.
{%- endmacro -%}

{%- macro physical(name,acceleration,stamina,strength,balance,sprint_speed,agility,jumping) -%}
===ఫీజికల్ స్టేట్===
ఫీజికల్ స్టేట్ అనేది {{name}} బలాలను తెలుపుతుంది. యాక్సిలరేషన్ {{acceleration}}, స్టామినా {{stamina}}, స్ట్రెన్త్ {{strength}}, బ్యాలెన్స్ {{balance}}, స్ప్రింట్ స్పీడ్ {{sprint_speed}}, అజిలిటీ {{agility}}, జంపింగ్ {{jumping}} ఉంది.
{%- endmacro -%}

{%- macro shooting(name, heading, shot_power, finishing, long_shots, curve, fk_acc, Penalties, Volleys) -%}
=== షూటింగ్ నైపుణ్యం===
ఒక క్రీడాకారిణి ఎంత ప్రాబబిలిటీతో గోల్ చేస్తుంది అనేదాన్ని షూటింగ్ రేటింగ్ తెలుపుతుంది. {{name}} ఫ్రీకిక్ అయితే {{fk_acc}} శాతం, గోల్ పోస్ట్ కి  దూరం నుంచి {{long_shots}} శాతంతో గోల్ చేస్తుంది. అదే గోల్ పోస్ట్ కి దగ్గరగా ఉన్నపుడు ఈమె {{finishing}} శాతం గోల్ చేస్తుంది.  ఈమెకు పెనాల్టీ కిక్ లలో {{penalties}}, వాలీ కిక్ లలో {{volleys}}, కర్వ్ లో {{curve}} రేటింగ్ ఉంది.
{%- endmacro -%}

{%- macro goalkeeping(name,GK_Positioning,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes)%}
=== గోల్ కీపింగ్  నైపుణ్యం===
ఈ రేటింగ్ {{name}} గోల్ కీపింగ్ సామర్థ్యాన్ని గురించి తెలుపుతుంది. ఈమెకు గోల్ కీపర్ స్థానానికి {{GK_Positioning}}, బాల్ హ్యాండ్లింగ్ లో {{GK_Handling}} రేటింగ్ ఉంది. ఒక గోల్ కీపర్ బంతిని గోల్ కాకుండా ఆపడాన్ని డైవింగ్, ప్రతిచర్య(reflexes) రేటింగ్ లతో అంచనా వేస్తారు. ఈమెకు ప్రతిచర్యలో {{GK_Reflexes}}, డైవింగ్ లో {{GK_Diving}} రేటింగ్ ఉంది.  
{%- endmacro -%}
{% macro references() %}
==మూలాలు==
{{":{{reflist}}"}}
{{ "'''సూచన:పైన ఇవ్వబడిన వివరాలన్నీ 15 జూన్, 2021 తారీఖున సంగ్రహించబడ్డాయి.''' " }}
{%- endmacro -%}
{#function calls below#}
{#"{{విస్తరణ}}"#}
{{ infobox() }} 
{{ intro(name,tname,dob1,age,nation,positions1,preferred_foot,work_rate,kit_no)}}
{{ personal_life(tname,nation,dob1) }}
{{ ballskills(tname,ball_control,dribbling)}}
{{ defence(marking,slide_tackle,stand_tackle)}}
{{ mentalstate(tname,aggression,reaction,interception,vision,composure)}}
{{ physical(tname,acceleration,stamina,strength,balance,sprint_speed,agility,jumping)}}
{{ shooting(tname, heading, shot_power, finishing, long_shots, curve, fk_acc, Penalties, Volleys)}}
{{ goalkeeping(tname,GK_positioning,GK_diving,GK_handling,GK_kicking,GK_reflexes)}}
{{ references() }}

{{ "[[Category:{}]]".format(nation)}}
{{ "[[Category:ఫుట్‌బాల్ క్రీడాకారులు]]"}}
{{ "[[Category:క్రీడాకారులు]]"}}
{{"[[category:ఆటలు]]"}}
{{ "[[Category:తెవికీ ఫుట్‌బాల్ క్రీడాకారులు]]"}}
